/*** all Mobile Screen (iphone 6,7,8) ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
.outer-content-block {
  padding-top: 68px;
  padding-left: 76px;
  padding-bottom: 63px;
  padding-right: 61px;
}
.outer-content-block .dash-vendor-block {
  display: flex;
  gap: 0 24px;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards {
  width: 269px;
  background: #FFFFFF;
  border-radius: 14px;
  margin-bottom: 24px;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header {
  padding: 35px 38px;
  display: flex;
  align-items: center;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header .img-block {
  width: 84px;
  height: 98px;
  background: transparent linear-gradient(141deg, #DFD5FC 0%, #F2EEFF 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header .img-block img {
  width: 41px;
  height: 41px;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header h4 {
  text-align: left;
  font: 600 24px/35px "Poppins", sans-serif;
  color: #000000;
  margin-bottom: 6px;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header h4 span {
  text-align: left;
  font: 500 14px/21px "Poppins", sans-serif;
  color: #878B9B;
  display: block;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-footer {
  border-top: 1px solid #EFF2FB;
  display: flex;
  justify-content: center;
  padding: 13px 0;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-footer img {
  width: 10px;
  height: 18px;
  margin-right: 5px;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-footer span {
  text-align: left;
  font: normal 12px/18px "Poppins", sans-serif;
  color: #7E7E90;
}
.outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-footer .txt-success {
  text-align: left;
  font: 600 12px/18px "Poppins", sans-serif;
  color: #01BE7C;
  margin-right: 5px;
}
.outer-content-block .dash-vendor-block .custom-chart-block {
  max-width: 1144px;
  background: #FFFFFF;
  border-radius: 14px;
  flex: 1 1 100%;
}
.outer-content-block .custom-chart-blocks {
  max-width: 100%;
  background: #FFFFFF;
  border-radius: 14px;
  height: 400px;
  margin-top: 24px;
}

@media (max-width: 1679px) {
  .outer-content-block {
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
<<<<<<< HEAD
    padding-right: 30px; }

=======
    padding-right: 50px;
  }
>>>>>>> 57e62bcde570fd1af46d7bd4d0a3d3c4c3386a30
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header h4 {
    font-size: 22px;
    line-height: 16px;
    margin: 0;
  }
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header {
    padding: 25px 28px;
  }
}
@media (max-width: 1367px) {
  .outer-content-block {
<<<<<<< HEAD
    padding: 30px; }

=======
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 40px;
    padding-right: 40px;
  }
>>>>>>> 57e62bcde570fd1af46d7bd4d0a3d3c4c3386a30
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header .img-block {
    width: 70px;
    height: 80px;
  }
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header .img-block img {
    width: 31px;
<<<<<<< HEAD
    height: 31px; } }
=======
    height: 31px;
  }
}
@media (max-width: 1281px) {
  .outer-content-block {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 30px;
  }
}
>>>>>>> 57e62bcde570fd1af46d7bd4d0a3d3c4c3386a30
@media (max-width: 1199px) {
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header {
    padding: 20px 23px;
  }
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header h4 {
    font-size: 20px;
  }
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header h4 span {
    font-size: 12px;
  }
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header .img-block {
    width: 50px;
    height: 60px;
  }
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards .cards-header .img-block img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 991px) {
<<<<<<< HEAD
  .content-block .dash-vendor-block .custom-cards-block {
    display: flex;
    gap: 0 20px; }

  .outer-content-block {
    padding: 20px; }

=======
  .outer-content-block {
    padding: 30px;
  }
  .content-block .dash-vendor-block .custom-cards-block {
    display: flex;
    gap: 0 20px;
  }
>>>>>>> 57e62bcde570fd1af46d7bd4d0a3d3c4c3386a30
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards {
    margin: 0;
  }
  .content-block .dash-vendor-block {
    flex-direction: column;
    gap: 0;
  }
  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards {
    width: 50%;
  }
  .outer-content-block .dash-vendor-block .custom-chart-block {
    margin-top: 20px;
<<<<<<< HEAD
    min-height: 200px; } }
@media (max-width: 520px) {
  .content-block .dash-vendor-block .custom-cards-block {
    flex-direction: column;
    gap: 20px 0; }

  .outer-content-block .dash-vendor-block .custom-cards-block .custom-cards {
    width: 100%; } }
=======
    min-height: 200px;
  }
}
>>>>>>> 57e62bcde570fd1af46d7bd4d0a3d3c4c3386a30

/*# sourceMappingURL=dashboard.css.map */
