@import "partials/variables";
@import "partials/mixins";

.right-section-outer {
    padding: 25px 43px;
    background: #F8F9FD;
    height: 100%;
    @media(max-width:1679px)
    {
        padding: 25px 30px;
    }
    @media(max-width:579px)
    {
        padding: 20px 24px;
    }
}